<!DOCTYPE html>
<html>
    <header>
      <p><a href = "/login">login</a> / <a href = "/home">home</a></p>
    </header>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>flask blog example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        
      <form action='login' method='POST'>
        <input type='text' name='user_id' id='user_id' placeholder='user_id'/><br>
        <input type='password' name='user_pw' id='user_pw' placeholder='user_pw'/><br>
        <br>
        <input type='submit' name='submit'/>
      </form>
    </body>
    <footer>
      <p>footer</p>
    </footer>
</html>